<!-- <h3>Exercise Example {{10+20}}</h3>
<templates-examples>
    <p>COntent Para inside Component Tag</p>
</templates-examples> -->
<h1>My NG Project</h1><br/>
<a routerLink="home">Home |</a>
<a routerLink="counter">Counter |</a>
<a routerLink="admin/crud">CRUD Examples |</a>
<a routerLink="examples">NG Examples |</a>
<a routerLink="Pipeexamples">Pipes Examples</a>
<hr>
<router-outlet></router-outlet>
<!-- <app-user></app-user> -->
<!-- <app-person></app-person> -->
   <!---- <h1>{{appHeading}} </h1>
    <h1 [innerHTML]="appHeading"></h1>
    <br/>
    <button (click)="handleButtonClick()" class="btn btn-primary">Change App Headding</button>
    <br/>
    <hr>
    <button (click)="handleCounter()">Show/Hide Counter</button>
   <app-counter *ngIf="show"></app-counter>
    <div *ngIf="show; else elseBlock">TRUE Condition Output</div>
    <ng-template #elseBlock>
        FALSE OUTPUT. This is of NG Template Companent Tag
    </ng-template>
    <ul>
        <li *ngFor="let number of numbers">
            <span [ngStyle]="{'color':number%2==0?'red':'blue'}">{{number}}</span>

        </li>
    </ul>
    <ol>
        <li *ngFor="let num of numbers">
            <span [ngClass]="{'warn':num%2==0,'message':num%2!=0}">{{num}}</span>
        </li>
    </ol>

    <Ex-counter></Ex-counter>-->